<div>
  <!-- Contact -->
  <section id="contact" class="py-20 px-5">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="text-4xl md:text-5xl font-bold mb-6 text-primary">Connect With Me</h2>
      <p class="text-lg text-gray-300 mb-12">Interested in building, collaborating, or just want to chat? Feel free to reach out below.</p>
      
      <!-- Socials -->
      <div class="flex justify-center gap-8 mt-8">
        <a href="https://github.com/Heis-mariyo" class="text-2xl text-white hover:text-primary transition-colors duration-300"><i class="fab fa-github"></i></a>
        <a href="https://x.com/Heismariyo" class="text-2xl text-white hover:text-primary transition-colors duration-300"><i class="fab fa-x-twitter"></i></a>
        <a href="https://www.linkedin.com/in/mario-izunobi-968b90319" class="text-2xl text-white hover:text-primary transition-colors duration-300"><i class="fab fa-linkedin"></i></a>
        <a href="https://t.me/Heismariyo" class="text-2xl text-white hover:text-primary transition-colors duration-300"><i class="fab fa-telegram"></i></a>
      </div>
    </div>
  </section>
</div>